*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    
}

.first-banner-container{
    padding:10px 50px;
    /* background-color: rgba(196, 255, 108, 0.677); */
}
.first-banner{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 100px;
    height: 100vh;
    background-repeat:no-repeat; 
    
    padding: 0px 20px;

    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgba(0, 128, 0, 0.505);

}
.first-banner-img{
    width: 400px;
    height: 400px;
    border-radius: 200px;
    border: 2px solid gray;
    color :white;
}
.first-banner-text{
    display:block;
    color: rgb(73, 73, 73);;
    font-family: 'Courier New', Courier, monospace;
}
.first-banner-span{
    color:rgba(0, 138, 0, 0.782); 
    
}
.first-banner-h1, .first-banner-p {
    padding: 10px;
    margin: 10px;
}
.first-banner-h1{
    font-size: 80px;
}
.first-banner-p{
    font-size: 20px;
}
.first-banner-a{
    padding: 10px;
    margin: 20px 10;
    font-size: 20px;
    text-decoration: none;
    background-color: rgba(0, 162, 0, 0.436);
    color: whitesmoke;
    border-radius: 3px;
    margin-left: 20px;
}
.first-banner-a:hover{
    background-color: rgba(0, 68, 2, 0.795);
}
.second-banner{
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media only screen and (max-width: 600px) {
    /* For tablets: */
    .first-banner{
        display:block;
        height: auto;
        padding: 20px;
        
    }
    

  }
  @media only screen and (min-width: 768px){

  }

