*{
    margin: 0px;
    padding: 0px;
}
.menu-bar{
    

}
.nav-container{
    display:flex;
    align-items: center;
    justify-content:space-between;
    background-color: green;
    padding: 0px 50px;
    
}
.nav-img{
    width: 100px;
    height: 90px;
    /* border-radius: 50px; */
    margin: 2px;
}
.nav-ul{
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    background-color: rgba(0, 91, 0, 0.585);
    border-radius: 5px;
    position: fixed;
    top: 3px;   
    margin-left: 690px;
    margin-top: 0px;
}
.nav-li{
    list-style: none;
    padding:13px 0px;
    justify-content: space-around;
    
}
.active-a{
    background-color:rgba(139, 138, 138, 0.668); ;
}
.nav-a{
    text-decoration: none;
    color: rgb(255, 253, 253);
    padding:13px 26px;
    border-radius: 5px;
}
.nav-a:hover{
    background-color: rgba(155, 155, 155, 0.634);
    /* color: black;  */
}

@media only screen and (max-width: 850px) {
    /* For tablets: */
    .nav-container{
        font-size: 20px;
        display: block;
        justify-content:space-around;
        align-items: flex-start;
    }
    .nav-ul{
        display:block;;
        position: sticky;
        top: 3px;   
        margin-left: 0px;
        margin-top: 0px;
    
    }
  }

@media only screen and (max-width: 600px) {
    /* For tablets: */
    .nav-container{
        font-size: 11px;
        display: block;
        justify-content:space-around;
        align-items: flex-start;
        padding: 0px 10px;
    }
    .nav-ul{
        display:block;;
        position: sticky;
        top: 3px;   
        margin-left: 0px;
        margin-top: 0px;
    
    }
    .nav-img{

        padding: 20px 0px;
    }
  }
  @media only screen and (max-width: 450px) {
    /* For tablets: */
    .nav-container{
        font-size: 11px;
        display: block;
        justify-content:space-around;
        align-items: flex-start;
        padding: 0px 10px;
    }
    .nav-ul{
        display:block;;
        position: sticky;
        top: 3px;   
        margin-left: 0px;
        margin-top: 0px;
    
    }
  }
