
.first-resume-container{
    border: 3px solid blueviolet;
}
.resume-container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.resume-title{
    color:#181818;
    font-size: 35px;
    text-align: center;
    padding: 30px;
}
.resume-s{
    padding: 15px 15px 15px 5px;
}
.resume-s-title-1{
    color: var(--dark-02, #474747);
    font-size: 26px;
    padding: 5px;
}
.resume-s-title-2{
    color: var(--dark-02, #474747);
    font-size: 20px;
    padding: 5px;
}
.resume-s-title-3{
    color: var(--dark-03, #757575);
    font-size: 16px;
    padding: 5px;
}
.resume-s-paragraph{
    color: var(--dark-03, #757575);
    font-size: 13px;
    padding: 5px;
}
hr{
    margin: 10px;
}