
.first-resume-container{
    background-color: white;
    border: 0.5px solid rgba(0, 128, 0, 0.505);
}
.resume-container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    /* text-align: center; */
}
.resume-title{
    color:#181818;
    font-size: 35px;
    text-align: center;
    padding: 30px;
}
.resume-s{
    padding: 15px 15px 15px 5px;
}
.resume-s-title-1{
    color: var(--dark-02, #474747);
    font-size: 26px;
    padding: 10px;
}
.resume-s-title-2{
    color: var(--dark-02, #474747);
    font-size: 20px;
    padding: 10px;
}
.resume-s-title-3{
    color: var(--dark-03, #757575);
    font-size: 16px;
    padding: 10px;
}
.resume-s-paragraph{
    color: var(--dark-03, #757575);
    font-size: 13px;
    padding: 10px;
}
hr{
    margin: 10px;
}
@media only screen and (max-width: 768px){
    .resume-container{
        display:block;

    }
    .resume-container{
        text-align: center;
    }
}