*{
    margin: 0px;
    padding: 0px;
}
.our-service-container{
    background-color: white;
}
.service-container{
    display: flex;
    justify-content: space-around;
    padding: 25px 0px 10px 0px;
}
.service-title{
    padding-top: 40px;
    padding-bottom:15px;
    margin: 30px 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}
.service-h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 30px;
}

.box{
    width: 250px;
    background-color: rgba(186, 186, 186, 0.748);
    text-align: center;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
}
.box:hover{
    background-color: rgba(186, 186, 186, 0.748);
    box-shadow: 5px 5px 15px  rgba(70, 69, 69, 0.586);

}
.box-image{
    width: 70px;
    padding-top: 12px;
}
.box-title{
    padding-top: 10px;
    margin: 10px;

}
.box-content{
    padding-top: 10px;
    margin: 10px;
}
.box-button{
    padding: 10px 25px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: rgba(97, 203, 70, 0.623);
    border-radius: 3px;
}
.box-button:hover{
    background-color: rgba(63, 147, 43, 0.623);
}