.what-i-do-container{
    display: block;
    
    background-color: aqua;
    padding: 50px;
}
.what-i-do{
    border: 2px solid rgb(255, 21, 0);
    padding: 0px 20px;
    text-align: center;
    
}